<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Dummy</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
